<ul style="list-style-type: none;">
  <li><a href="/parents/<%=@parent.id%>">Parents Console</a></li>
  
  <li><a href="/logout">Log Out</a></li>
</ul>
<form action="/children/add_child" method="POST">
  <label for="child_name">Child Name: </label>
  <input type="text" name="children[child_name]" id="child_name">
  <br />
  <input type="submit" value="Add Child" id="add_child">
</form>
