
<%=@children.child_name%>
<br />
<br />

<br />
<form action="/children/<%=@children.id%>/add_feeding" method="POST">
  <input type="datetime-local" name="feedings">
  <input type="submit" value="Feeding time right now">
</form>
