<h1>Welcome <%=@parent.name%></h1>

<a href="/children/add_child">Add a child</a>


<%@children.each do |child|%>
  <p><a href="/children/<%=child.id%>"><%=child.child_name%></a>   <a href="/children/<%=child.id%>/edit">Edit</a></p>

<%end%>
