<h1>Welcome to Feeding Tracker</h1>
<br />
<br />
<p>This site has been designed for families with multiple children that need to have the feeding times tracked</p>
<a href="/signup">Sign Up Now</a>
<br />
<br />
<a href="/login">Login</a>
<br />
<br />
