<form method="POST" action="/signup">
  <label for="username">Create a Username: </label>
  <br />
  <br />
  <input type="text" name="username">
  <br />
  <br />
  <label for "password">Enter your password: </label>
  <br />
  <br />
  <input type="password" name="password">
  <br />
  <br />
  <label for="name">Name: </label>
  <br />
  <br />
  <input type="text" name="name">
  <br />
  <br />
  <input type="submit" name="submit" id="submit">
</form>
