

<form method="POST" action="/signup">
  <label for="username">Create a Username: </label>
  <br />

  <input type="text" name="username" id="username">
  <br />
  <br />
  <label for "password">Enter your password: </label>
  <br />

  <input type="password" name="password" id="password">
  <br />

  <br />
  <label for "password_verify">Re-enter your password: </label>
  <br />
  <input type="password" name="password_verify" id="password_verify">

  <br />
  <br />
  <h2 style="color: red; font-weight: bold;">
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
  </h2>
  <br />
  <label for="name">Name: </label>
  <br />
  <input type="text" name="name" id="name">
  <br />
  <br />
  <label for="email">Email: </label>
  <br />
  <input type="text" name="email" id="email">
  <br />
  <br />
  <input type="submit" value="Submit" id="submit">
</form>
